swagger: "2.0"
info:
    description: "Service for sending messages between driver adn passenger"
    version: "1.0.0"
    title: "Chat service"
host: "chat-service.taxi-microservice.com"
basePath: "/"
schemes:
    - "https"
    - "http"
tags:
    - name: "chatBooking"
      description: "Chat related operations assigned to given booking"
paths:
    /messages/bookings/{bookingId}:
        post:
            tags:
                - "chatBooking"
            summary: "Send message according to order created by user"
            description: ""
            operationId: "sendMessage"
            consumes:
                - "application/json"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "bookingId"
                    required: true
                -   in: "body"
                    name: "body"
                    description: ""
                    required: true
                    schema:
                        $ref: "#/definitions/MessageSendDTO"
            responses:
                "200":
                    description: "Message successfully sent to user and saved in database"
                    schema:
                        items:
                            $ref: "#/definitions/MessageSendDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Booking with given ID was not found"
        get:
            tags:
                - "driver"
            summary: "Return all messages assigned to booking with given id"
            description: ""
            operationId: "returnMessages"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "bookingId"
                    required: true
            responses:
                "200":
                    description: "Messages successfully returned"
                    schema:
                        items:
                            type: "array"
                            $ref: "#/definitions/MessageResponseDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Booking with given ID was not found"

definitions:
    MessageSendDTO:
        type: "object"
        properties:
            senderDTO:
                type: "object"
                $ref: "#/definitions/UserDTO"
            messageContent:
                type: "string"
            creationDate:
                type: "string"
                format: "date-time"
    MessageResponseDTO:
        type: "object"
        properties:
            messageId:
                type: "string"
                format: "long"
            senderDTO:
                type: "object"
                $ref: "#/definitions/UserDTO"
            messageContent:
                type: "string"
            creationDate:
                type: "string"
                format: "date-time"
    UserDTO:
        type: "object"
        properties:
            id:
                type: "integer"
                format: "long"
            userName:
                type: "string"
            email:
                type: "string"
            name:
                type: "string"
            surname:
                type: "string"
            pesel:
                type: "string"
            userRole:
                type: "string"
                enum: ["driver", "passenger"]
