swagger: "2.0"
info:
    description: "Service for taxi orders made by passengers"
    version: "1.0.0"
    title: "Booking service"
host: "booking-service.taxi-microservice.com"
basePath: "/"
schemes:
    - "https"
    - "http"
tags:
    -   name: "bookings"
        description: "General bookings operations"
    -   name: "bookingsHistory"
        description: "Booking history related operations"
    -   name: "bookingsStatus"
        description: "Booking status related operations"
paths:
    /bookings:
        get:
            tags:
                - "bookings"
            summary: "Get list of bookings"
            description: ""
            operationId: "getBookings"
            produces:
                - "application/json"
            parameters:
                -   in: "query"
                    type: "integer"
                    name: "page"
                    required: false
                -   in: "query"
                    type: "integer"
                    name: "count"
                    required: false
            responses:
                "200":
                    description: "Bookings successfully returned"
                    schema:
                        type: "array"
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "204":
                    description: "No bookings"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "422":
                    description: "Invalid input"

        post:
            tags:
                - "bookings"
            summary: "Add new booking"
            description: ""
            operationId: "addBooking"
            consumes:
                - "application/json"
            produces:
                - "application/json"
            parameters:
                -   in: "body"
                    name: "body"
                    description: "Booking object that needs to be added"
                    required: true
                    schema:
                        $ref: "#/definitions/BookingAddDTO"
            responses:
                "200":
                    description: "Booking was successfully added"
                "422":
                    description: "Invalid input"

    /bookings/{bookingId}:
        get:
            tags:
                - "bookings"
            summary: "Get booking with given ID"
            description: ""
            operationId: "getBooking"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "bookingId"
                    required: true
            responses:
                "200":
                    description: "Booking successfully returned"
                    schema:
                        type: "array"
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Booking with given ID was not found"

    /bookings/assigned/{driverId}:
        get:
            tags:
                - "bookings"
            summary: "Get all bookings assigned to driver with given ID"
            description: ""
            operationId: "getBookingsAssignedToDriver"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "driverId"
                    required: true
                -   in: "query"
                    type: "integer"
                    name: "page"
                    required: false
                -   in: "query"
                    type: "integer"
                    name: "count"
                    required: false
            responses:
                "200":
                    description: "Booking successfully removed"
                    schema:
                        type: "array"
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "204":
                    description: "No bookings"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Driver with given ID was not found"
                "422":
                    description: "Invalid input"

    /bookings/nearby-created:
        get:
            tags:
                - "bookings"
            summary: "Get all nearby created bookings"
            description: ""
            operationId: "getNearbyCreatedBookings"
            consumes:
                - "application/json"
            produces:
                - "application/json"
            parameters:
                -   in: "body"
                    name: "body"
                    description: "Object with current driver localisation"
                    required: true
                    schema:
                        $ref: "#/definitions/LocalisationDTO"
                -   in: "query"
                    type: "integer"
                    name: "distance"
                    required: true
                -   in: "query"
                    type: "integer"
                    name: "page"
                    required: false
                -   in: "query"
                    type: "integer"
                    name: "count"
                    required: false
            responses:
                "200":
                    description: "Bookings created nearby driver current location was successfully returned"
                    schema:
                        type: "array"
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "204":
                    description: "No bookings"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Any booking for given parameters was not found"
                "422":
                    description: "Invalid input"



    /bookings/history/passenger/{passengerId}:
        get:
            tags:
                - "bookingsHistory"
            summary: "Get all previous bookings created by passenger"
            description: ""
            operationId: "getPreviousBookingsForPassenger"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "passengerId"
                    required: true
                -   in: "query"
                    type: "integer"
                    name: "page"
                    required: false
                -   in: "query"
                    type: "integer"
                    name: "count"
                    required: false
            responses:
                "200":
                    description: "Previous bookings created by passenger was successfully returned"
                    schema:
                        type: "array"
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "204":
                    description: "No bookings"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Passenger with given ID was not found"
                "422":
                    description: "Invalid input"

    /bookings/history/driver/{driverId}:
        get:
            tags:
                - "bookingsHistory"
            summary: "Get all previous bookings realised by driver"
            description: ""
            operationId: "getPreviousBookingsForDriver"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "driverId"
                    required: true
                -   in: "query"
                    type: "integer"
                    name: "page"
                    required: false
                -   in: "query"
                    type: "integer"
                    name: "count"
                    required: false
            responses:
                "200":
                    description: "Previous bookings realised by driver was successfully returned"
                    schema:
                        type: "array"
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "204":
                    description: "No bookings"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Driver with given ID was not found"
                "422":
                    description: "Invalid input"



    /bookings/assign-driver/{bookingId}:
        put:
            tags:
                - "bookingsStatus"
            summary: "Assign driver to booking with given ID"
            description: ""
            operationId: "assignBooking"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "bookingId"
                    required: true
            responses:
                "200":
                    description: "Booking successfully assigned"
                    schema:
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Booking with given ID was not found"
                "422":
                    description: "Booking cannot be assigned because of its inappropriate current state"

    /bookings/unassign-driver/{bookingId}:
        put:
            tags:
                - "bookingsStatus"
            summary: "Unassign driver from booking with given ID"
            description: ""
            operationId: "unassignBooking"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "bookingId"
                    required: true
            responses:
                "200":
                    description: "Booking successfully assigned"
                    schema:
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Booking with given ID was not found"
                "422":
                    description: "Booking cannot be assigned because of its inappropriate current state"

    /bookings/cancel/{bookingId}:
        put:
            tags:
                - "bookingsStatus"
            summary: "Cancel booking with given ID"
            description: ""
            operationId: "cancelBooking"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "bookingId"
                    required: true
            responses:
                "200":
                    description: "Booking successfully canceled"
                    schema:
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Booking with given ID was not found"
                "409":
                    description: "Booking cannot be canceled because of its inappropriate current state"

    /bookings/abort/{bookingId}:
        put:
            tags:
                - "bookingsStatus"
            summary: "Abort booking with given ID"
            description: ""
            operationId: "abortBooking"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "bookingId"
                    required: true
            responses:
                "200":
                    description: "Booking successfully aborted"
                    schema:
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Booking with given ID was not found"
                "422":
                    description: "Booking cannot be aborted because of its inappropriate current state"

    /bookings/start/{bookingId}:
        put:
            tags:
                - "bookingsStatus"
            summary: "Start booking with given ID"
            description: ""
            operationId: "startBooking"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "bookingId"
                    required: true
            responses:
                "200":
                    description: "Booking successfully started"
                    schema:
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Booking with given ID was not found"
                "422":
                    description: "Booking cannot be start because of its inappropriate current state"

    /bookings/finish/{bookingId}:
        put:
            tags:
                - "bookingsStatus"
            summary: "Finish booking with given ID"
            description: ""
            operationId: "finishBooking"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "bookingId"
                    required: true
            responses:
                "200":
                    description: "Booking successfully finished"
                    schema:
                        items:
                            $ref: "#/definitions/BookingResponseDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Booking with given ID was not found"
                "422":
                    description: "Booking cannot be finished because of its inappropriate current state"




definitions:
    BookingAddDTO:
        type: "object"
        properties:
            passengerId:
                type: "integer"
                format: "long"
            driverId:
                type: "integer"
                format: "long"
            startingPoint:
                $ref: "#/definitions/LocalisationDTO"
            finishPoint:
                $ref: "#/definitions/LocalisationDTO"

    BookingResponseDTO:
        type: "object"
        properties:
            id:
                type: "integer"
                format: "long"
            passengerId:
                type: "integer"
                format: "long"
            driverId:
                type: "integer"
                format: "long"
            status:
                $ref: "#/definitions/BookingStatusResponseDTO"
            startingPoint:
                $ref: "#/definitions/Point"
            finishPoint:
                $ref: "#/definitions/Point"
            creationDate:
                type: "string"
                format: "date-time"

    LocalisationDTO:
        type: "object"
        properties:
            latitude:
                type: "number"
                format: "double"
            longitude:
                type: "number"
                format: "double"

    BookingStatusResponseDTO:
        type: "object"
        properties:
            id:
                $ref: "#/definitions/BookingStatus"
            description:
                type: "string"

    Point:
        type: "object"
        properties:
            type:
                type: "string"
                description: "Point"
            coordinates:
                type: "array"
                items:
                    type: "number"
                description: "coordinates [latitude longitude]"


    BookingStatus:
        type: "string"
        enum: ["CREATED", "ASSIGNED", "IN_PROGRESS", "CANCELED", "FINISHED", "ABORTED"]
