swagger: "2.0"
info:
    description: "Service for drivers"
    version: "1.0.0"
    title: "Driver service"
host: "driver-service.taxi-microservice.com"
basePath: "/"
schemes:
    - "https"
    - "http"
tags:
    -   name: "driver"
        description: "Driver related operations"
    -   name: "driverLocalisation"
        description: "Driver localisation related operations"
paths:
    /drivers:
        get:
            tags:
                - "driver"
            summary: "Get list of drivers"
            description: ""
            operationId: "getDrivers"
            produces:
                - "application/json"
            parameters:
                -   in: "query"
                    type: "integer"
                    name: "page"
                    required: false
                -   in: "query"
                    type: "integer"
                    name: "count"
                    required: false
            responses:
                "200":
                    description: "Drivers page successfully returned"
                    schema:
                        type: "array"
                        items:
                            $ref: "#/definitions/DriverResponseDTO"
                "204":
                    description: "No drivers"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "405":
                    description: "Invalid input"
        post:
            tags:
                - "driver"
            summary: "Add driver"
            description: ""
            operationId: "addDrivers"
            produces:
                - "application/json"
            parameters:
                -   in: "body"
                    name: "body"
                    description: "Driver object that needs to be added"
                    required: true
                    schema:
                        items:
                            type: "array"
                            $ref: "#/definitions/DriverAddDTO"
            responses:
                "200":
                    description: "Driver successfully added"
                    schema:
                        items:
                            $ref: "#/definitions/DriverResponseDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"

    /drivers/{driverId}/localisation:
        get:
            tags:
                - "driverLocalisation"
            summary: "Get current driver localisation"
            description: ""
            operationId: "getDriverCurrentLocalisation"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "driverId"
                    required: true
            responses:
                "200":
                    description: "Driver current localisation successfully returned"
                    schema:
                        items:
                            $ref: "#/definitions/LocalisationDTO"
                "401":
                    description: "Unauthorized user"
                "404":
                    description: "Driver with given ID was not found"

    /drivers/nearby:
        get:
            tags:
                - "driverLocalisation"
            summary: "Get nearby drivers"
            description: ""
            operationId: "getNearbyDrivers"
            consumes:
                - "application/json"
            produces:
                - "application/json"
            parameters:
                -   in: "body"
                    name: "body"
                    description: "Object with current driver localisation"
                    required: true
                    schema:
                        $ref: "#/definitions/LocalisationDTO"
                -   in: "query"
                    type: "integer"
                    name: "distance"
                    required: true
            responses:
                "200":
                    description: "Driver current localisation successfully returned"
                    schema:
                        items:
                            type: "array"
                            $ref: "#/definitions/DriverResponseDTO"
                "401":
                    description: "Unauthorized user"
                "404":
                    description: "Any driver for given parameters was not found"

definitions:
    DriverResponseDTO:
        type: "object"
        properties:
            id:
                type: "number"
                format: "long"
            userName:
                type: "string"
            email:
                type: "string"
            name:
                type: "string"
            surname:
                type: "string"
            pesel:
                type: "string"
            birthDate:
                type: "string"
                format: "date"
            creationDate:
                type: "string"
                format: "date-time"
            userSettings:
                items:
                    type: "array"
                    $ref: "#/definitions/UserSettingsDTO"
            userRole:
                items:
                    type: "array"
                    $ref: "#/definitions/RoleDTO"

    DriverAddDTO:
        type: "object"
        properties:
            userName:
                type: "string"
            email:
                type: "string"
            name:
                type: "string"
            surname:
                type: "string"
            password:
                type: "string"
            pesel:
                type: "string"
            birthDate:
                type: "string"
                format: "date"

    UserSettingsDTO:
        type: "object"
        properties:
            appearance:
                $ref: "#/definitions/AppearanceType"
            language:
                type: "string"

    RoleDTO:
        type: "object"
        properties:
            role:
                type: "string"

    UserRole:
        type: "string"
        enum: ["driver", "passenger"]

    AppearanceType:
        type: "string"
        enum: ["light", "dark"]

    LocalisationDTO:
        type: "object"
        properties:
            x:
                type: "number"
                format: "double"
            y:
                type: "number"
                format: "double"
