swagger: "2.0"
info:
    description: "Service for passengers"
    version: "1.0.0"
    title: "Passenger service"
    termsOfService: "http://swagger.io/terms/"
host: "passenger-service.taxi-microservice.com"
basePath: "/"
schemes:
    - "https"
    - "http"
tags:
    - name: "passenger"
      description: "Passenger related operations"
    - name: "passengerSettings"
      description: "Passenger settings"
paths:
    /passengers:
        get:
            tags:
                - "passenger"
            summary: "Get list of passengers"
            description: ""
            operationId: "getPassengers"
            produces:
                - "application/json"
            parameters:
                - in: "query"
                  type: "integer"
                  name: "page"
                  required: false
                - in: "query"
                  type: "integer"
                  name: "count"
                  required: false
            responses:
                "200":
                    description: "Passengers successfully returned"
                    schema:
                        type: "array"
                        items:
                            $ref: "#/definitions/PassengerDTO"
                "204":
                    description: "No passengers"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "405":
                    description: "Invalid input"
        post:
            tags:
                - "passenger"
            summary: "Add new passenger"
            description: ""
            operationId: "addPassenger"
            consumes:
                - "application/json"
            produces:
                - "application/json"
            parameters:
                -   in: "body"
                    name: "body"
                    description: "Passenger object that needs to be added"
                    required: true
                    schema:
                        $ref: "#/definitions/PassengerAddDTO"
            responses:
                "200":
                    description: "Passenger was successfully added"
                "400":
                    description: "User with given ID already exists"
                "405":
                    description: "Invalid input"
    /passengers/{passengerId}:
        get:
            tags:
                - "passenger"
            summary: "Get passenger with given ID"
            description: ""
            operationId: "getPassenger"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "passengerId"
                    required: true
            responses:
                "200":
                    description: "Passenger successfully returned"
                    schema:
                        items:
                            $ref: "#/definitions/PassengerDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Passenger for given ID was not found"
        put:
            tags:
                - "passenger"
            summary: "Update passenger with given ID"
            description: ""
            operationId: "updatePassenger"
            consumes:
                - "application/json"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "passengerId"
                    required: true
                -   in: "body"
                    name: "body"
                    description: "Passenger object that needs to be updated"
                    required: true
                    schema:
                        $ref: "#/definitions/PassengerUpdateDTO"
            responses:
                "200":
                    description: "Passenger successfully updated"
                    schema:
                        items:
                            $ref: "#/definitions/PassengerUpdateDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Passenger for given ID was not found"
        delete:
            tags:
                - "passenger"
            summary: "Delete passenger with given ID"
            description: ""
            operationId: "deletePassenger"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "passengerId"
                    required: true
            responses:
                "200":
                    description: "Passenger successfully deleted"
                    schema:
                        items:
                            $ref: "#/definitions/PassengerDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Passenger for given ID was not found"
    /passengers/{passengerId}/settings:
        get:
            tags:
                - "passengerSettings"
            summary: "Get settings for passenger with given ID"
            description: ""
            operationId: "getPassengerSettings"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "passengerId"
                    required: true
            responses:
                "200":
                    description: "Passenger settings successfully returned"
                    schema:
                        items:
                            $ref: "#/definitions/Settings"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Passenger for given ID was not found"
        put:
            tags:
                - "passengerSettings"
            summary: "Update settings for passenger with given ID"
            description: ""
            operationId: "updatePassengerSettings"
            consumes:
                - "application/json"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "passengerId"
                    required: true
                -   in: "body"
                    name: "body"
                    description: "Passenger settings object that needs to be updated"
                    required: true
                    schema:
                        $ref: "#/definitions/Settings"
            responses:
                "200":
                    description: "Passenger settings successfully returned"
                    schema:
                        items:
                            $ref: "#/definitions/Settings"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Passenger for given ID was not found"
definitions:
    PassengerAddDTO:
        type: "object"
        properties:
            userName:
                type: "string"
            email:
                type: "string"
            password:
                type: "string"
            name:
                type: "string"
            surname:
                type: "string"

    PassengerUpdateDTO:
        type: "object"
        properties:
            password:
                type: "string"
            name:
                type: "string"
            surname:
                type: "string"

    PassengerDTO:
        type: "object"
        properties:
            userName:
                type: "string"
            email:
                type: "string"
            name:
                type: "string"
            surname:
                type: "string"

    Settings:
        type: "object"
        properties:
            appearance:
                enum: ["light", "dark"]
            language:
                type: "string"
