swagger: "2.0"
info:
    description: "Service for passengers"
    version: "1.0.0"
    title: "Passenger service"
host: "passenger-service.taxi-microservice.com"
basePath: "/"
schemes:
    - "https"
    - "http"
tags:
    - name: "passenger"
      description: "Passenger related operations"
    - name: "passengerSettings"
      description: "Passenger settings"
paths:
    /passengers:
        get:
            tags:
                - "passenger"
            summary: "Get list of passengers"
            description: ""
            operationId: "getPassengers"
            produces:
                - "application/json"
            parameters:
                - in: "query"
                  type: "integer"
                  name: "page"
                  required: false
                - in: "query"
                  type: "integer"
                  name: "count"
                  required: false
            responses:
                "200":
                    description: "Passengers successfully returned"
                    schema:
                        type: "array"
                        items:
                            $ref: "#/definitions/PassengerResponseDTO"
                "204":
                    description: "No passengers"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "405":
                    description: "Invalid input"

    /passengers/{passengerId}:
        get:
            tags:
                - "passenger"
            summary: "Get passenger with given ID"
            description: ""
            operationId: "getPassenger"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "passengerId"
                    required: true
            responses:
                "200":
                    description: "Passenger successfully returned"
                    schema:
                        items:
                            $ref: "#/definitions/PassengerResponseDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Passenger with given ID was not found"

    /passengers/{passengerId}/settings:
        get:
            tags:
                - "passengerSettings"
            summary: "Get settings for passenger with given ID"
            description: ""
            operationId: "getPassengerSettings"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "passengerId"
                    required: true
            responses:
                "200":
                    description: "Passenger settings successfully returned"
                    schema:
                        items:
                            $ref: "#/definitions/PassengerSettingsDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Passenger with given ID was not found"
        put:
            tags:
                - "passengerSettings"
            summary: "Update settings for passenger with given ID"
            description: ""
            operationId: "updatePassengerSettings"
            consumes:
                - "application/json"
            produces:
                - "application/json"
            parameters:
                -   in: "path"
                    type: "string"
                    name: "passengerId"
                    required: true
                -   in: "body"
                    name: "body"
                    description: "Passenger settings object that needs to be updated"
                    required: true
                    schema:
                        $ref: "#/definitions/PassengerSettingsDTO"
            responses:
                "200":
                    description: "Passenger settings successfully returned"
                    schema:
                        items:
                            $ref: "#/definitions/PassengerSettingsDTO"
                "401":
                    description: "Unauthorized user"
                "403":
                    description: "Access forbidden"
                "404":
                    description: "Passenger with given ID was not found"
definitions:
    PassengerResponseDTO:
        type: "object"
        properties:
            userName:
                type: "string"
            email:
                type: "string"
            name:
                type: "string"
            surname:
                type: "string"

    PassengerSettingsDTO:
        type: "object"
        properties:
            appearance:
                type: "string"
                $ref: "#/definitions/AppearanceType"
            language:
                type: "string"

    AppearanceType:
        type: "string"
        enum: ["light", "dark"]
